<div class="row center-align">
  <div>
    <div>
      <div class="card-content">
        <h4 class="center-align">Login here</h4>
          <br />
          <%= form_with url: sessions_path, local: true do |f| %>
          <div class="control-group">
            <%= f.label :username %>
            <div class="controls">
              <%= f.text_field :username, :class => 'center-align'%>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password %>
            <div class="controls">
              <%= f.password_field :password, :class => 'center-align'%>
            </div>
          </div>
          
          <div class="actions"><%= f.submit "Log In", :class => 'btn center-align' %></div>
        <% end %>
      </div>
    </div>
  </div>