<%= simple_form_for(@assignment) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.input :employee_id, collection: Employee.active.alphabetical, include_blank: true %>
      <%= f.input :store_id, collection: Store.active.alphabetical %>
      <%= f.input :pay_grade_id, collection: PayGrade.alphabetical, label_method: :level %>
      <%= f.input :start_date label_html: { class: 'active'}%>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>